@font-face {
    font-family: 'iran_sans_bold';
    src: url('../Fonts/iran_sans_bold.woff') format('woff');
  }
  
  @font-face {
    font-family: 'iran_sans_light';
    src: url('../Fonts/iran_sans_light.woff') format('woff');
  }
  
  @font-face {
    font-family: 'iran_sans_medi';
    src: url('../Fonts/iran_sans_medi.woff') format('woff');
  }
  
  *{
    font-family:iran_sans_light;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s linear;
  }
  html{
    font-size: 60%;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
  }
  header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #000000;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  }
  header .logo{
    font-family:helvetica, bold;
    font-weight: 800;
    font-size: 4rem;
    color: #00df1e;
    font-weight: 5000;
  }
  .search {
    display: flex;
    align-items: center;
    background-color: lightgray;
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .searchInput {
    border: none;
    background-color: transparent;
  }
  
  .searchInput::placeholder {
    color: white;
  }
  header .navbar a{
    font-size: 1.5rem;
    color: #00df1e;
    margin: 0 2rem;
  }
  header .navbar a:hover{
    color: rgb(255, 255, 255);
  }
  header .icons a{
    font-size: 2.5rem;
    color: #00df1e;
    margin-left: 1.5rem;
  }
  header .icons a:hover{
    color: rgb(255, 255, 255);
  }
  #menu-bar{
    font-size: 2rem;
    padding: .5rem 1rem;
    border: .1rem solid #00df1e;
    color: #00df1e;
    border-radius: .3rem;
    cursor: pointer;
    display: none;
  }
  .features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    font-size: 10px;
    margin-top: 70px;
  }
  
  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .featureIcon {
    width: 100px;
    height: 100px;
  }
  
  .featureTitle {
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
  }
  
  .featureDesc {
    color: gray;
    width: 50%;
    height: 100px;
    font-size: 15px;
  }
  
  
  .payment {
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  }
  
  .payTitle {
    font-size: 20px;
    color: lightgray;
  }
  
  label {
    font-size: 14px;
    font-weight: 300;
  }
  
  .payInput {
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;
  }
  
  .payInput::placeholder {
    color: rgb(163, 163, 163);
  }
  
  .cardIcons {
    display: flex;
  }
  
  .cardIcon {
    margin-right: 10px;
  }
  
  .cardInfo {
    display: flex;
    justify-content: space-between;
  }
  
  .sm {
    width: 30%;
  }
  
  .payButton {
    position: absolute;
    height: 40px;
    bottom: -40;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    background-color: #369e62;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .close {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: gray;
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
  }
  
  .productImg {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .productDetails {
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
  }
  
  .productTitle {
    font-size: 75px;
    font-weight: 900;
    margin-top: 300px;
  }
  
  .productPrice {
    font-size: 30px;
  }
  
  .productDesc {
    font-style: 44px;
    color: gray;
    margin-top: 10px;
  }
  
  .sizes {
    display: flex;
    margin-top: 30px;
  }
  
  .size {
    padding: 5px 20px;
    border-radius: 5rem;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .productButton {
    float: right;
    color: white;
    border-radius: .5rem;
    border: .2rem solid #000;
    font-weight: bolder;
    font-size: 1.7rem;
    color: #00df1e;
    cursor: pointer;
    background: #000000;
    padding: .8rem 3rem;
    margin-top: 20px;
  }
  
  .productButton:hover {
    background-color: #00df1e;
    color: rgb(255, 255, 255);
  }
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .footer{
    background-color: #000000;
  }
  
  .footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
  }
  
  .socialIcons{
    display: flex;
    justify-content: center;
  }
  
  .socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 50%;
  }
  
  .socialIcons a i{
    font-size: 3em;
    color: #00df1e;
    opacity: 0.9;
  }
  
  .socialIcons a:hover{
    background-color: #00df1e;
    transition: 0.5s;
  }
  
  .socialIcons a:hover i{
    color: white;
    transition: 0.5;
  }
  
  .footerNav{
    margin: 30px 0;
  }
  
  .footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  
  .footerNav ul li a{
    color: #00df1e;
    margin: 20px;
    text-decoration: none;
    font-size: 1.6em;
    font-weight: 5000;
    opacity: 0.7;
    transition: 0.5s;
  }
  
  .footerNav ul li a:hover{
    opacity: 1;
  }
  
  .footerBottom{
    background-color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
  }
  
  .footerBottom p{
    color: #ffffff; 
  }
  
  .designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2em;
    font-weight: 400;
    margin: 0px 5px;
  }
  
  @media screen and (max-width:480px) {
    nav{
      padding: 20px;
    }
  
    .search{
      display: none;
    }
  
    .navBottom{
      flex-wrap: wrap;
    }
  
    .menuItem{
      margin: 20px;
      font-weight: 700;
      font-size: 20px;
    }

    .buyButton{
      right: 0;
      top: 0;
    }
  
    .features{
      flex-direction: column;
    }
  
    .product{
      clip-path: none ;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .productImg{
      width: 80%;
    }
  
    .productDetails{
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      top: 0;
    }
  
    .productTitle{
      font-size: 50px;
      margin: 0;
    }
  
    .gallery{
      display: none;
    }
  
    .newSeason{
      flex-direction: column;
    }
  
    .nsItem:nth-child(2){
      padding: 50px;
    }
    .payment{
      width: 90%;
      padding: 20px;
    }
  
    .footerNav ul{
      flex-direction: column;
  }
  .footerNav ul li{
      width: 100%;
      text-align: center;
      margin: 10px;
  }
  }